html,
body,
header,
.view {
    height: 100%;
}

.video {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

@media (max-width: 740px) {

    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        /*background: #563e91 !important;*/
        background: #ffffff !important;
    }

    .navbar .nav-item {
        margin: auto;
    }

    .view {
        min-height: 170vh;
    }

    .view h3 {
        font-size: 8vh;
    }

    .view h4 {
        font-size: 3vh;
    }

    iframe {
        width: 100%;
    }
}

.rgba-gradient {
    background: -moz-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 100%);
    background: linear-gradient(to 45deg, rgb(255, 255, 255), rgb(255, 255, 255) 100%);
}